@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 20px;
}

.Toastify__toast--error {
  border: 1px solid #F4B0A1;
  background: #FFF5F3 !important;
  padding: 20px
}

.Toastify__toast--success {
  border: 1px solid #48C185;
  background: #F6FFF9 !important;
  padding: 20px
}

.Toastify__toast--error::after {
  content: url('../src/assets/icon/errorNoti.svg');
  position: absolute;
}

.Toastify__toast--error::before {
  content: url("../src/assets/icon/errorNoti.svg");
  position:relative; 
}

.Toastify__toast--success::after {
  content: url('./assets/icon/successNoti.svg');
  position: absolute;
}

.Toastify__toast--success::before {
  content: url("./assets/icon/successNoti.svg");
  position:relative; 
}

.Toastify__toast-body {
  padding: 0px !important;
}

.Toastify__toast  {
  border-radius: 12px !important;
  box-shadow: 0px 4px 16px 0px rgba(16, 11, 39, 0.08);
  padding: 20px !important;
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.Toastify__toast > button > svg {
  display: none;
}

.Toastify__toast-icon {
  display: none !important;
}